.menuitem{
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	padding: 0px 15px 5px 2px;
	margin: 3px 0 5px 1px;
}

div{
	font-size: 12px;
}

#container{

	border-style: solid;
	border-width: 1px;
	margin-right: 350px;

}

#header{
	border-style: solid;
	border-width: 1px;
}

#bodycontent{
	margin: 2px 2px 2px 0px;
	margin-bottom: 50px;
}


#banner{
	
	border-style: solid;
	border-width: 1px;
	padding-bottom: 60px;
	padding-left: 2px;
	margin-left: 1px;

}

#featurestrip{

	border-style: solid;
	border-width: 1px;
	padding-bottom: 50px;
	padding-left: 2px;
	margin-left: 1px;

}

#corefeatures{

	border-style: solid;
	border-width: 1px;
	padding-bottom: 50px;
	padding-left: 2px;
	margin-left: 1px;

}

#testimonials{

	border-style: solid;
	border-width: 1px;
	padding-bottom: 50px;
	padding-left: 2px;
	margin-left: 1px;

}

#portfolio{

	border-style: solid;
	border-width: 1px;
	padding-bottom: 50px;
	padding-left: 2px;
	margin-left: 1px;

}

#skills{

	border-style: solid;
	border-width: 1px;
	padding-bottom: 70px;
	padding-left: 2px;
	margin-left: 1px;

}

#footer{
	border-style: solid;
	border-width: 1px;
	padding-bottom: 50px;
	margin-bottom: 20px;
	padding-left: 2px;

}